.tableContainer {
  width: 90%;
  margin: auto;
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 90%;
}

.tableHeader {
  background-color: #50a3a2 !important;
  color: #fff !important;
}
